* {
    
    margin:0;
    font-family:Arial;
    border:border-box;
  
}
body{
    background-color: aliceblue;

}
.navbar{
    height:60px;
    background-color: black;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.nav-logo{
    height: 100%;
    width: 100px;

}
.logo{
    background-image:url("https://www.gardenupstore.in/cdn/shop/files/new_range_2.png?v=1633613431") ;
    background-size:cover;
    height: 60px;
    width: 120px;
    
}
.nav-search{
    display: flex;
    justify-content:space-evenly ;
    background-color:  rgb(2, 174, 25);
    width:620px;
    height: 40px;
    border-radius: 4px;
    box-shadow:2px 2px 2px;
}
.nav-search:hover{
    border: 1px solid rgb(128, 17, 54);
}
.search-select{
    background-color: rgb(2, 174, 25);
    width: 50px;
    height: 90%;
    text-align: center;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    border:none;
}
.search-input{
    width: 500px;
    font-size: 1rem;
    border: white;
    border-radius:4px ;
}
.search-icon{
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    justify-content: space-evenly;
    border-radius:4px ;

}
.nav-second {
    font-size:0.85rem ;
    font-weight: 700;
}
.nav-cart i {
    font-size:20px;
}
.nav-cart{
    font-size: 0.85rem;
    justify-content:stretch;
    width: 100px;
}
.panel{
    height: 40px;
    background-color:#081C15;
    display: flex;
    color: white;
    align-items: center;
    justify-content: space-evenly;
}

.panel-all{
    width:10%;
}
.gardening{
    background-color: #081C15;
    color: white;
    border: none;
    font-family: cursive;
    font-size: medium;
    justify-content: space-evenly;
    width: 150px;
    justify-content: space-between;    
}
.circles{
    height: 150px;
    display: flex;
    justify-content:center;
    background-color: whitesmoke;

}
.offerlogo{
    height: 110px; 
    width: 104px;
    margin: 15px;
}
.offerlogo:hover{
    scale: 1.05;
    transition:ease-in-out;
    transition-duration: 0.5s;

}
.adv1{
    width: 100%;
    height: 350px;
}
.panel2{
    height: 120px; ;
    background:linear-gradient(white,rgb(200, 237, 172)) ;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    
    

}
.panelelement{
    text-decoration: none;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: x-large;
    
}
.form{
    display: flex;
    background-color:  rgb(2, 174, 25);
    border:1px solid rgb(2, 174, 25);
}
.search-icon{
    background-color: rgb(2, 174, 25);
    border: none;
}
.valueformoney{
    font-size:  20px;
    height: 70px;
    display: flex;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    justify-content: center;
    align-items: center;
    background:rgb(222, 217, 217);
    text-decoration: underline;
}
.products{
    height: 435.7px;
    width: 100%;
    background-color:rgb(222, 217, 217);
    display: flex;
    justify-content: center;
   
}
.product{
    width: 250px;
    background-color:whitesmoke;
    margin: 20px;
    box-shadow: 0px 0px 10px black;
    justify-items: center;
}
.secculants1{
    background-image: url("https://nurserylive.com/cdn/shop/products/nurserylive-g-top-4-die-hard-succulents-pack-980804_243x243.jpg?v=1679751768");
    background-size: cover;
    height:195px ;
    width: 195px;
    justify-content:start ;
    align-items:end;
    display: flex;
    margin-left: 26px;
    margin-top:26px ;
    
}
.scc{
   
    background-size: cover;
    height:195px ;
    width: 195px;
    justify-content:start ;
    align-items:end;
    display: flex;
    margin-left: 26px;
    margin-top:26px ;

}
.secculants2{
    background-image: url("https://nurserylive.com/cdn/shop/products/nurserylive-combo-packs-plants-5-best-fragrant-plants-16968509653132_243x243.jpg?v=1634209158");
    background-size: cover;
    height:195px ;
    width: 195px;
    justify-content:start ;
    align-items:end;
    display: flex;
    margin-left: 26px;
    margin-top:26px ;
}
.secculants3{
    background-image: url("https://nurserylive.com/cdn/shop/products/nurserylive-combo-packs-plants-5-best-indoor-plants-pack-16968508997772_243x243.jpg?v=1634209160");
    background-size: cover;
    height:195px ;
    width: 195px;
    justify-content:start ;
    align-items:end;
    display: flex;
    margin-left: 26px;
    margin-top:26px ;
}
.secculants4{
    background-image: url("https://nurserylive.com/cdn/shop/products/nurserylive-combo-packs-plants-top-5-air-purifier-and-oxygen-enriching-plant-pack-16969387507852_243x243.jpg?v=1634230232");
    background-size: cover;
    height:195px ;
    width: 195px;
    justify-content:start ;
    align-items:end;
    display: flex;
    margin-left: 26px;
    margin-top:26px ;
}
.secculants5{
    background-image: url("https://nurserylive.com/cdn/shop/products/nurserylive-combo-packs-plants-plant-pack-for-healthy-home-office-155522_243x243.jpg?v=1679750881");
    background-size: cover;
    height:195px ;
    width: 195px;
    justify-content:start ;
    align-items:end;
    display: flex;
    margin-left: 26px;
    margin-top:26px ;
}
.ert{
    background-color:pink;
    height: 20px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.menu-icon{
    color: white;
    width: 50px;
    font-size: 1.5rem;
    display: block;
}
.menu-list{
    display: none;
    padding-left: 20px;
    list-style-type: style type none; 
    width: 100px;
    background-color: red;
}
.menu-list li{
    margin-bottom: 5px;
}
/* Custom CSS for menu button */
.menu-icon {
    display: block;
    padding: 10px;
    background-color: black;
    color: #fff;
    text-decoration: none;
  }
  /* Custom CSS for menu list */
  .menu-list {
    display: none;
    background-color: black;
    list-style-type: none;
    color: white;
    text-decoration: none;
    z-index:1;
    position: absolute;
    left: 0;
    top:65px;
    width: 15%;
    background-color: #c0b4b6;
    border: #000;
    text-shadow:1px 1px black;
    
  }
  .menu-list a{
    text-decoration: none;
    color: #2d0b00;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: bold;

  }
  .menu-list li {
    margin-bottom: 5px;
    color: white;
    text-decoration: none;
  }
  .flowers{
    color: white;
  }
  .ladyfinger{
    color: white;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-decoration: none;
  }
  .product h3{
    font-size: 16px;
    margin-left: 25px;
    margin-top: 10px;
  }
  .price-cut{
    font-size: 14px;
    margin-left: 25px;
    margin-top: 10px;
    text-decoration: line-through;
    align-items: center;
    justify-content: center;
    display: flex;
  }
  .price{
    font-size: 18px;
    margin: 10px 25px;
    align-items: center;
    justify-content: center;
    display: flex;

  }
  .buybutton{
    margin-left: 65px;
    background-color:pink;
    border: none;
    box-shadow: 2px 2px 3px black;
    font-size:larger;
   position: absolute;
   top: 1180px;
   font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
   font-weight: bold;
  }
  .bigcircles{
    height:373px ;
    background-color:rgb(217, 227, 179);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
  }
  .offerlogo1{
    border-radius:50%;
    box-shadow: 1px 1px 10px black;
  }
  .offerlogo1:hover{
    scale: 1.05;
    transition:ease-in-out;
    transition-duration: 0.2s;

  }
  .winter{
    background-color:rgb(200, 164, 170);
    font-size: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    padding-top: 20px;
  }
  .bulbs{
    text-align: center;
    font-size: larger;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color:lightcyan;
    text-shadow: 1px 1px 2px black;
  } 
  .View-More{
    display: flex;
    align-items:center;
    justify-content: center;
    height: 44px;
    background-color:rgb(217, 227, 179);
    
  }
  .View-More a{
    background-color: #FFC0CB;
    color: black;
    text-decoration: none;
    font-size:larger;
    height: 80%;
    text-align: center;
    display: flex;
    align-items: center;
   padding-left: 15px;
   padding-right: 15px;
   border: 1px solid black;
   box-shadow: 1px 1px 3px black;
   margin-bottom: 30px;
   
  }
  .trendA{
    display: flex;
    align-items: center;
    justify-content: center;
    height:400px ;
    margin-top: 50px;
    margin-left: 50px;
    margin-right: 50px ;
    gap: 30px;
  }
  .trend1{
    background-image: url("https://nurserylive.com/cdn/shop/files/nurserylive-home-page-planters_7b92b1a7-6c8b-4dd0-9b93-1026eff0a09c_832x413.jpg?v=1633894835");
    height: 100%;
    width: 100%;
    background-size: contain;
    background-repeat: no-repeat;
    padding-top: 30px;
    padding-left: 20px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: rgb(211, 53, 77);
    text-shadow: 1px 1px 1px black ;
    font-weight: bold;
  }
  .trend2{
    background-image: url("https://nurserylive.com/cdn/shop/files/nurserylive-home-page-soil-and-fertilizers_ee17c551-750c-46ff-a546-45f9c6835abc_1200x595.jpg?v=1633894835");
    height: 100%;
    width: 100%;
    padding-top: 30px;
    padding-left: 20px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: rgb(116, 74, 74);
    text-shadow: 1px 1px 1px black;
    font-weight: bold;
    background-size: contain;
    background-repeat: no-repeat;
  }
  .trendB{
    display: flex;
    align-items: center;
    justify-content: center;
    height:400px ;
    margin-left: 50px;
    margin-right: 50px ;
    gap: 30px;
  }
  .trend3{
    background-image: url("https://nurserylive.com/cdn/shop/files/nurserylive-home-page-pebbles-1_1034x513.jpg?v=1634739961");
    height: 100%;
    width: 100%;
    background-size: contain;
    background-repeat: no-repeat;
    padding-top: 30px;
    padding-left: 20px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: rgb(101, 101, 208);
    text-shadow: 1px 1px 1px black ;
    font-weight: bold;
  }
  .trend4{
    background-image: url("https://nurserylive.com/cdn/shop/files/nurserylive-home-page-tools-1_757x375.jpg?v=1634739985");
    height: 100%;
    width: 100%;
    background-size: contain;
    background-repeat: no-repeat;
    padding-top: 30px;
    padding-left: 20px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: rgb(208, 60, 2);
    text-shadow: 1px 1px 1px black ;
    font-weight: bold;
   }
   

  .trend-name{
    justify-content: center;
    align-items:bottom;
    display: flex;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color:white ;
    height: 30px;
    font-size: x-large;
    background-color:pink;
    text-shadow: 1px 1px 3px black;
    }
    .shopin{
        width: 110px;
        height: 40px;
        border: none;
        border-radius: 5px;
       background-color:pink;
       font-weight: bold;
       display: flex;
       justify-content: center;
       align-items: center;
       text-decoration: none;

    }
    .shopin a{
        background-color: #FFC0CB;
        color: rgb(33, 7, 7);
        text-decoration: none;
        text-align: center;
        display: flex;
        align-items: center;
    }
    .panel3{
        height: 120px; ;
        background:linear-gradient(white,rgb(192, 195, 191)) ;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
     
        
        
    
    }
    .panelelement3{
        text-decoration: none;
        font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        font-size: large;

    }
    .bonsai{
        background-color: rgb(170, 195, 205);
        font-size: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        padding-top: 20px;
       
      }
      .morebigcircles{
        height:373px ;
        background-color:white;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 50px;
      }
      .kokedama{
        text-align: center;
        font-size: larger;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        color:black
      }
      .blogs{
        justify-content: center;
        gap: 10px;
        justify-content: center;
        display: flex;
        gap: 50px;
        
      }
      .blog-name{
        display: flex;
        align-items: center;
        justify-content: center;
        height: 50px;
        font-size: larger;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        font-weight: bold;
      }
.video{
  display: flex;
  justify-content:center;
  align-items: top;
 height:350px;
 margin-top: 10px;
 

}
.yt-video{
  background-color:lightgoldenrodyellow;
  height:50px;
  justify-content: center;
  align-items: center;
  display: flex;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-weight: bold;
  color: black;
  font-size: larger;
}

hr{
  text-decoration-thickness: 5px;
  color: black;

}
.footer{
  background: linear-gradient(to right, #00093c, #2d0b00);
  border-top-left-radius: 100px;
  position: absolute;
  bottom: 0;
  width: 100%;

}

.footer *{
  color: white;
}

.container{
  display: flex;
  justify-content: space-between;
  padding: 50px 7%;
  background-color: rgb(212, 172, 178);
}

.footer-col{
  width: 25%;
}

.footer-col h2{
  font-optical-sizing: 1.7em;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.p.email{
  margin: 30px 0;
}

.p.phone{
  font-size: 20px;
  font-weight: 400;
}

.footer-col .text-office{
  margin-bottom: 20px;
}
.underline{
  width: 70px;
  height: 3px;
  position: relative;
  background-color: white;
  margin-top: 5px;
  margin-bottom: 20px;
  border-radius: 3px;
  overflow: hidden;
}

.underline span{
  width: 7px;
  height: 100%;
  position: absolute;
  left: 10px;
  background-color: rgb(63,63,63);
  border-radius: 3px;
  animation: moving 2.5s linear infinite;
}

@keyframes moving {
  0%{
      left: -20px;
  }
  100%{
      left: 100%;
  }
}

.footer-col ul{
  list-style-type: none;
  padding-top: 10px;
}

.footer-col ul li{
  margin: 10px;
}

.footer-col form{
  margin-top: 20px;
  border-bottom: 1px solid white;
  padding-bottom: 10px;
  display: flex;
}

.footer-col form input{
  width: 70%;
  background: transparent;
  border: none;
  outline: none;
  padding-left: 10px;
}

.footer-col form i{
  font-size: 15px;
}

.footer-col .social-icons{
  margin-top: 20px;
}

.footer-col .social-icons i{
  padding: 10px;
  background-color: white;
  color: #00093c;
  border-radius: 50%;
  margin: 5px;
}

.footer-para{
  max-width: 250px;
}
.footerBottom{
  background-color: #000;
  padding: 20px;
  text-align: center;
}
.footerBottom p{
  color: white;
}
.designer{
  opacity: 0.7;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 400;
  margin: 0px 5px;
}
.feedback{
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.feedback-label{
  position: absolute;
  left: 50px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-weight: bolder;
  font-size: large;
}
.feedback-input{
  border: none;
  border-radius: 10px;
  padding: 5px;
  box-shadow: 1px 3px 5px rgb(212, 172, 178) ;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-weight: bolder;
  font-size: large;
  height: 30px;
  border-radius: 15px;
 

}
.feedback-submit{
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-weight: bolder;
  font-size: large;
  border: none;
  background-color: darkblue;
  color: white;
  height: 30px;
  border-radius: 15px;
  padding-left: 20px;
  padding-right: 20px;
  box-shadow: 1px 3px 5px black;
}
.googleform{
  height: 100px;
   background-color: rgb(233, 224, 224);
   display: flex;
   align-items: center;
   justify-content: center;
}
.googleform a {
  text-decoration: none;
  color: #000;
  font-size: larger;
  font-weight: bold;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.bottle{

    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: bolder;
    font-size: large;
    border: none;
    background-color: darkblue;
    color: white;
    height: 30px;
    border-radius: 15px;
    padding-left: 20px;
    padding-right: 20px;
    box-shadow: 1px 3px 5px black;
    align-items: center;
    justify-content: center;
  }
 